<main>
  <section class="form-section">
    <img
      src="/img/logo_SFND.png"
      alt="Logotipo Laboratório Físico AMM"
      width="250px"
    />
    <h2>{{ title }}</h2>

    <ng-content></ng-content>

    <div class="btn-div">
      <button class="primary-btn" (click)="submit()" mat-flat-button [disabled]="disablePrimaryBtn">{{ primaryBtnText }}</button>
      @if(title == "Login"){      
        <div  class="divisor">
        <div></div>
        <span> ou </span>
        <div></div>
      </div>}
      <button [hidden]="title== 'Sigin'" (click)="navigate()" mat-raised-button>
        {{ secondaryBtnText }}
      </button>
      <span [hidden]="title != 'Login'"> Esqueceu a senha? <a [routerLink]="['/forgot-password']" >Recuperar</a></span>
      <span [hidden]="title != 'Sigin'"> Já tem uma conta? <a [routerLink]="['/login']" >Entrar</a></span>
    </div>
  </section>
  <section class="main-section">
    <h1></h1>
    
  </section>
</main>
