<main>
    <section class="form-section">
      <img
        src="/img/logo_SFND.png"
        alt="Logotipo Laboratório Físico AMM"
        width="250px"
      />
      <h2>Nova senha</h2>
  
    <!--------------------------------->

    <form [formGroup]="resetPasswordForm">
        
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input  #pass type="password" matInput formControlName="password" placeholder="********">
            @if (!resetPasswordForm.get('password')?.value) {
                <mat-error>A senha é obrigatória!</mat-error>
                
            }
        </mat-form-field> 
        <div class="verificacao" *ngIf="pass.value"> 
            <div class="item"> 
             <div [ngClass]="{'pass': hasUpperCase(pass.value),'dontpass': !hasUpperCase(pass.value)}"></div>
            <span class="span">Maiúsculas</span>
           </div>
             <div class="item">
               <div [ngClass]="{'pass': hasLower(pass.value),'dontpass': !hasLower(pass.value)}"></div>
             <span class="span">Minúsculas</span>
             </div>
            <div class="item">
             <div [ngClass]="{'pass': hasNumber(pass.value),'dontpass': !hasNumber(pass.value)}"></div>
             <span class="span">Números</span>
           </div>
            <div class="item">
             <div [ngClass]="{'pass': (pass.value.length>5),'dontpass': (pass.value.length <= 5)}"></div>
             <span class="span">> 6 Caracteres</span>
           </div>
            </div>
    
              <mat-form-field>
                  <mat-label>Confirme a senha</mat-label>
                  <input type="password" matInput formControlName="confirmpassword" placeholder="********">
                  @if (resetPasswordForm.get('confirmpassword')?.value != resetPasswordForm.get('password')?.value) {
                      <mat-error>As senhas não conferem!</mat-error>
                    }
                </mat-form-field> 
            </form>
            
            
            <!--------------------------------->
            
            <div class="btn-div">
                <button class="primary-btn" (click)="submit()" mat-flat-button >Continuar</button>
                <button class="secondary-btn" [routerLink]="['/login']" mat-flat-button >Cancelar</button>
            </div>
        </section>
        
        <section class="main-section">
            <h1></h1>
            
        </section>
    </main>
  