@defer (on idle) {
  <mat-card>

    <div class="tabela-container">
            
        <mat-form-field class="filter-field">
          <mat-label>Filtro</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder=""
            #input
          />
        </mat-form-field>
    
        <div class="mat-elevation-z8 table-wrapper">
          <table mat-table [dataSource]="dataSource" class="t-table" matSort>
    
            <ng-container matColumnDef="numeroOs">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Num.OS</th>
              <td  mat-cell *matCellDef="let row">{{ row.numeroOs }}</td>
            </ng-container>
    
     
            <ng-container matColumnDef="data_solicitacao">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Data da solicitacao</th>
              <td  mat-cell *matCellDef="let row">{{ row.data_solicitacao}}</td>
            </ng-container>
            
            
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let row">{{ row.status }} @if(row.progresso_calculado>0){ - {{row.progresso_calculado| mask: 'percent.2'}}% }</td>
            </ng-container>
            
            <ng-container matColumnDef="prazo_inicio_fim">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Prazo Inicio - Fim</th>
              <td mat-cell *matCellDef="let row">{{ row.prazo_inicio_fim }}</td>
            </ng-container>
            <ng-container matColumnDef="etiqueta">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Etiqueta</th>
              <td mat-cell *matCellDef="let row" (click)="gerarPDF_Etiqueta(row)" ><mat-icon>sell</mat-icon></td>
            </ng-container>
            
            <ng-container matColumnDef="excluir">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Excluir</th>
              <td  mat-cell *matCellDef="let row">
                @if(row.status == "Aguardando Autorização" || row.status == "Autorizada"){
                <mat-icon (click)="openDialogDelet(row._id)">delete</mat-icon>
              }@else {<mat-icon (click)="excluirEmAndamento()" style="opacity: 0.5;">delete_forever</mat-icon>}
              </td>
            </ng-container>
    
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" ></tr>
    
    
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                 {{ input.value }}
              </td>
            </tr>
          </table>
    
          <mat-paginator
          [pageSizeOptions]="[10,20,30]"
          class="sticky-paginator "
            aria-label="Selecione a página de usuários"
          ></mat-paginator>
        </div>
          </div>
</mat-card>
}