<div class="user-modal">
    <h1 mat-dialog-title>Editar Usuário</h1>

    <div class="form-container">

        <div mat-dialog-content style="width: 100%;">
       <input type="hidden" name="id" [(ngModel)]="data._id" #id>

            <mat-form-field  style="width: 100%;">
              <mat-label>Nome</mat-label>
              <input matInput [(ngModel)]="data.name" readonly>
            </mat-form-field>
          
            <mat-form-field  style="width: 100%;">
              <mat-label>Email</mat-label>
              <input matInput [(ngModel)]="data.email" readonly>
            </mat-form-field>
          
            
            
            <mat-form-field  style="width: 100%;">
                <mat-label>Nível</mat-label>
                <mat-select [(value)]="data.level" #level>
                    @for (item of options; track item) {
                        <mat-option [value]="item">{{item}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <div class="check-box">
                <p>Autorizado?</p>
                <mat-checkbox [(ngModel)]="data.authorization" #authorization class="example-margin"></mat-checkbox>
            </div>
          

          </div>
    </div>


    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button mat-button [mat-dialog-close]="data" (click)="httpUpdateUserAdm(data._id!, data.authorization!, data.level!)">Salvar</button>
    </div>
    

</div>