form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0 35px 0;
    gap: 15px;

    input{
        width: 100%;
    }
    .verificacao{
        margin-top: -30px;
        width: 100%;
        display: flex;
        gap: 5px;
       .item{ display: flex;
        flex-direction: column;
           width: 100%;
           flex-grow: 1;
           div{
            height: 10px;
            flex-grow: 1;
            }
        span{
            flex-grow: 1;
            width: 100%;
            text-align: center;
            justify-content: center;
            flex-grow: 1;
            font-size: 10px
        }
       }
    }

}
.pass{
    background-color: green;
}
.dontpass{
    background-color: red;
}