
  <div class="chart" [ngStyle]="{'display:none': !exibirGrafico}">
    <!--<button
      (click)="updateOptions( 'all' )"
      [class.active]="activeOptionButton=='all'"
    >
      All
    </button> -->
    <apx-chart
      #chart
      [series]="chartOptions.series!"
      [title]="chartOptions.title!"
      [chart]="chartOptions.chart!"
      [colors]="chartOptions.colors!"
      [yaxis]="chartOptions.yaxis!"
      [dataLabels]="chartOptions.dataLabels!"
      [markers]="chartOptions.markers!"
      [stroke]="chartOptions.stroke!"
      [grid]="chartOptions.grid!"
      [xaxis]="chartOptions.xaxis!"
      [tooltip]="chartOptions.tooltip!"
      [annotations]="chartOptions.annotations!"
    ></apx-chart>
    <div class="char-title">
      Distribuição Diárias de Análises Solicitadas
    </div>
    </div>
  