:host {
  .tabela-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;

    .filter-field {
      width: 100%;

      .mat-mdc-form-field-infix {
        width: 100%;
      }
    }

    .table-wrapper {
      flex-grow: 1;
      overflow-y: auto;
      position: relative;
    }

    .t-table {
      width: 100%;

      th {

        position: sticky;
        top: 0;
        z-index: 1;
      }
    }

    .sticky-paginator {
      position: sticky;
      bottom: 0;
      z-index: 2;
    }
  }

 mat-card{
     display: flex;
    max-height: 100%;
      tr.example-detail-row {
        height: 0;
      }
    
      tr.example-element-row:not(.example-expanded-row):hover {
        background: whitesmoke;
      }
    
      tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
      }
    
      .example-element-row td {
        border-bottom-width: 0;
      }


      .detalhes {
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto;
    
        margin-bottom: 10px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
          rgb(209, 213, 219) 0px 0px 0px 1px inset;
    
        .container {
            margin: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          flex-grow: 1;
          color: var(--blue-10);
          line-height: 24px;
    
          p,
          strong {
            font-weight: 500;
          }
          a {
            color: var(--red-10);
          }
        }
        .btn-container{
            grid-column-start: 1;
            grid-column-end: 3;
            display: flex;
            width: 100%;
            button{
                margin: 10px 10px 10px auto;
                border-radius: 4px;
            }
        }
        
      }
 }
}
