<app-header [pageIco]="pageIco" [pageTitle]="pageTitle"></app-header>
<main>
  <div class="sidenav-container">
    <app-sidenav></app-sidenav>
  </div>
  <div class="main-container">
    <app-main>
      <!-- ngContent-->
       <mat-card>
           <h2>Editar perfil:</h2>

        <form [formGroup]="profileForm">
            <input type="hidden" formControlName="id">
            <mat-form-field>
              <mat-label>Nome</mat-label>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="Digite seu nome Ex. Ana"
              />
              @if (profileForm.get('name')?.errors) {
              <mat-error>O nome é obrigatório!</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="Ex. ana@exemplo.com"
              />
              @if (!profileForm.get('email')?.errors) {
              <mat-error>E-mail inválido!</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contato</mat-label>
                <input
                  type="tel"
                  matInput
                  formControlName="phone"
                  placeholder="(xx) - x xxxx-xxxx" 
                  mask="(00) 0 0000-0000"
                />
                @if (!profileForm.get('phone')?.errors) {
                  <mat-error>Contato inválido!</mat-error>
                  }
              </mat-form-field>

              <mat-form-field>
                <mat-label>Área</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="area"
                  placeholder="...GAPSI"
                />
                @if (profileForm.get('area')?.errors) {
                <mat-error>A área é obrigatória!</mat-error>
                }
              </mat-form-field>
              <mat-form-field>
                <mat-label>Cargo/Função</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="funcao"
                  placeholder="Ex...Coordenador...Eng..."
                />
                @if (profileForm.get('funcao')?.errors) {
                <mat-error>O Cargo/Função é obrigatório!</mat-error>
                }
              </mat-form-field>
              <div class="form-actions">
                <button mat-button [routerLink]="['/']" routerLinkActive="router-link-active" >Cancelar</button>
                <button [disabled]="!profileForm.valid" mat-button (click)="atualizar()">Salvar</button>         
              </div>
            </form>

       </mat-card>
      <!-- ngContent-->
    </app-main>
  </div>
</main>
