<mat-card class="info-lab">
    <mat-card-header>
        Informações sobre Ensaios Laboratoriais
    </mat-card-header>
    <mat-card-content>
<div class="note">
    <mat-card-subtitle> Importante:</mat-card-subtitle>
    <ul>
        <li>As massas indicadas na tabela consideram que o material enviado já está classificado nas faixas granulométricas adequadas.</li>
        <li>Os ensaios serão realizados somente quando houver massa suficiente, sendo que todos os ensaios (metalúrgicos, químicos e físicos) serão conduzidos em duplicata, ou seja, será necessário o dobro da massa exigida para cada ensaio, com margem adicional.</li>
        <li>Se o material enviado for bruto, deve-se considerar uma margem de segurança para a preparação, conforme o tipo de ensaio solicitado. A massa será aquela gerada após as distribuições granulométricas dos ensaios requeridos, em duplicata (ou seja, o dobro da massa por ensaio).</li>
        <li>Na ausência de referências, considera-se a massa mínima de 5 kg para materiais finos e 30 kg para materiais brutos, ciente de que essa quantidade pode afetar a representatividade dos ensaios.</li>
        <li>*Em função da limitação dos equipamentos de quarteamento, a quantidade máxima é definida pelo volume de 100 litros por amostra.</li>
    </ul>
</div>

<table>
    <thead>
        <tr>
            <th>Ensaio</th>
            <th>Massa Necessária</th>
            <th>Tamanho de Malha (mm)</th>
            <th>Quantidade por Malha</th>
            <th>Norma Associada</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>RDI (Índice de Degradação por Redução)</td>
            <td>500 a 1.000 g</td>
            <td>10 a 16 mm</td>
            <td>Pelo menos 500 g na faixa de 10 a 16 mm</td>
            <td>ABNT NBR ISO 4696-1</td>
        </tr>
        <tr>
            <td>Redutibilidade</td>
            <td>500 a 1.000 g</td>
            <td>9,5 a 19,5 mm</td>
            <td>Pelo menos 500 g na faixa de 9,5 a 19,5 mm</td>
            <td>ABNT NBR ISO 7215</td>
        </tr>
        <tr>
            <td>Granulometria</td>
            <td>5 kg (Bruto)* / 1 kg (finos)*</td>
            <td>90,0 mm ... 0,0045 mm</td>
            <td>Pelo menos 500 g para finos e 5kg para brutos* </td>
            <td>ABNT NBR ISO 4701</td>
        </tr>
        <tr>
            <td>Tamboramento (Tumble Index)</td>
            <td>15 kg</td>
            <td>10 a 40 mm</td>
            <td>Pelo menos 15 kg na faixa de 10 a 40 mm</td>
            <td>ABNT NBR ISO 3271</td>
        </tr>
        <tr>
            <td>Densidade</td>
            <td>0,500 L a 30 L</td>
            <td> - </td>
            <td>O volume do densímetro a ser utilizado varia conforme o diâmetro em milímetros do material analisado</td>
            <td>ABNT NBR 13133</td>
        </tr>
        <tr>
            <td>PPC (Perda por Calcinação)</td>
            <td>1 a 10 g</td>
            <td>≤ 0,15 mm</td>
            <td>Todo o material deve passar pela malha de 0,15 mm</td>
            <td>ABNT NBR 244</td>
        </tr>
        <tr>
            <td>Crepitação</td>
            <td>5000 g (material seco)</td>
            <td>10 a 19 mm</td>
            <td>Pelo menos 5000 g na faixa de 10 a 19 mm</td>
            <td>ABNT NBR 8601</td>
        </tr>
        <tr>
            <td>Reatividade (Reatividade da Cal)</td>
            <td>200 a 500 g</td>
            <td>≤ 1 mm (pulverizado)</td>
            <td>Todo o material deve passar pela malha de 1 mm</td>
            <td>ABNT NBR 12929</td>
        </tr>
        <tr>
            <td>Análises Imediatas (combustíveis sólidos)</td>
            <td>1 a 5 g (para carbono, voláteis, cinzas, umidade)</td>
            <td>≤ 0,25 mm (pulverizado)</td>
            <td>Todo o material deve passar pela malha de 0,25 mm</td>
            <td>ABNT NBR 16598, 16599, 16601</td>
        </tr>
        <tr>
            <td>Umidade</td>
            <td>1000 a 5.000 g</td>
            <td>Granulometria original da amostra</td>
            <td>Representatividade da amostra sem separação por malhas</td>
            <td>ABNT NBR 9937</td>
        </tr>
        <tr>
            <td>Preparo para Ensaio Químico</td>
            <td>350 a 900 g</td>
            <td>≤ 0,075 mm (200 mesh)</td>
            <td>Todo o material deve passar pela malha de 0,075 mm</td>
            <td>LBF 008</td>
        </tr>
    </tbody>
</table>
</mat-card-content>
</mat-card>