<div class="form-container">
<!--
  <mat-card class="user-info">
    <form [formGroup]="profileForm">
      <input type="hidden" formControlName="id" />
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="name" readonly />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" readonly />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contato</mat-label>
        <input
          type="tel"
          matInput
          formControlName="phone"
          mask="(00) 0 0000-0000"
          readonly
        />
      </mat-form-field>
    </form>
  </mat-card> -->

  <!------------------------------------------------------>

  <mat-card class="formulario">

    <form [formGroup]="amostraForm" class="tabela-header">
      <div class="tabela-header-row1">
        <mat-form-field>
          <mat-label>Identificaçao</mat-label>
          <input type="text" matInput formControlName="nome_amostra" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Data da amostra</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="data_amostra"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="tabela-header-row2">
        <mat-form-field>
          <mat-label>Ensaios</mat-label>
          <mat-select
            multiple
            formControlName="ensaios_solicitados"
          >
            @for (ensaios of listaDeEnsaios; track ensaios) {
            <mat-option [value]="ensaios.tipo">{{ ensaios.tipo }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button mat-fab (click)="addAmostra()" *ngIf="amostraForm.valid" [disabled]="!amostraForm.valid">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>

  <div class="tabela-container">
    <table mat-table [dataSource]="dataSource" class="table-wrapper">
      <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef>Num.</th>
        <td mat-cell *matCellDef="let element">
          {{ element.num || element.num }}
        </td>
      </ng-container>
      
      <ng-container matColumnDef="nome_amostra">
        <th mat-header-cell *matHeaderCellDef>Identificaçao</th>
        <td mat-cell *matCellDef="let element">{{ element.nome_amostra }}</td>
      </ng-container>

      <ng-container matColumnDef="data_amostra">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let element">{{ element.data_amostra }}</td>
      </ng-container>

      <ng-container matColumnDef="ensaios_solicitados">
        <th mat-header-cell *matHeaderCellDef>Ensaios</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ensaios_solicitados }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5]"
      class="sticky-paginator"
      showFirstLastButtons
      aria-label="Selecione as amostras"
    >
    </mat-paginator>
  </div>

  <mat-card class="formulario-footer">
  @if(obss.checked){

    <form [formGroup]="obsForm" >
    <mat-form-field>
      <mat-label>Observação:</mat-label>
      <textarea formControlName="observacao"
        matInput
        placeholder="Ex. Informações sobre envio ou coleta..."
      ></textarea>
    </mat-form-field>
  </form>
  }
  <div class="form-action">

    <mat-checkbox [labelPosition]="'before'" #obss>Adicionar observações ?</mat-checkbox>
    <button (click)="enviarOs()" mat-raised-button>Enviar OS</button>

  </div>
  </mat-card>
</div>
