<div class="mat-card">
    <form [formGroup]="configDeAnaliseForm">
      <mat-form-field>
        <mat-label>Matéria-prima</mat-label>
        <input
        type="text"
        placeholder=""
        aria-label="Number"
        matInput
        formControlName="materia_prima"
        readonly 
      />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Análise</mat-label>
        <input
        type="text"
        placeholder=""
        aria-label="Number"
        matInput
        formControlName="tipo_de_analise"
        readonly
      />
      </mat-form-field>
    </form>
  
    <div class="divisor">
      <div></div>
      <span> Configuração de Análise</span>
      <div></div>
    </div>
  
  
    
        <form [formGroup]="parametrosForm" >
          <mat-form-field>
            <mat-label>Item</mat-label>
            <mat-select formControlName="item" multiple >
              @for (item of parametros_filtrados; track item) {
              <mat-option [value]="item.descricao+(item.unidade_de_medida || '')"
                >{{ item.descricao }} {{ item.unidade_de_medida || ''}}</mat-option             >
              }

            </mat-select>
          </mat-form-field>
    
          <mat-form-field>
            <mat-label>Unidade do Resultado</mat-label>
            <input
              type="text"
              placeholder=""
              aria-label="Number"
              matInput
              formControlName="unidade_resultado"
              [matAutocomplete]="autoGroup"
            />
            <mat-autocomplete #autoGroup="matAutocomplete">
              @for (group of unidadesGroupOptions | async ; track group) { @for
              (nome of group.nomes; track nome) {
              <mat-option [value]="nome">{{ nome }}</mat-option>
              } }
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field style="width: 175px">
            <mat-label>Casas decicmais</mat-label>
            <input
              matInput
              type="number"
              maxlength="1"
              formControlName="casas_decimais"
          
            />
          </mat-form-field>
  
    
          <button mat-flat-button aria-label="Botão adicionar" [hidden]="!parametrosForm.valid" (click)="addParametro()">
            <mat-icon style="margin: 0">add</mat-icon>
          </button>
        </form>
        <div class="tabela-container">
        <div class="table-wrapper">
          <table mat-table [dataSource]="dataSource" class="materia-prima-table">
  
            <ng-container matColumnDef="num">
              <th mat-header-cell *matHeaderCellDef>Num.</th>
              <td mat-cell *matCellDef="let element">
                {{ element.num || element.num }}
              </td>
            </ng-container>
    
            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef>Item</th>
              <td mat-cell *matCellDef="let element">{{ element.item }}</td>
            </ng-container>
          
            <ng-container matColumnDef="unidade_resultado">
              <th mat-header-cell *matHeaderCellDef>Unidade_resultado</th>
              <td mat-cell *matCellDef="let element">{{ element.unidade_resultado }}</td>
            </ng-container>

            <ng-container matColumnDef="casas_decimais">
              <th mat-header-cell *matHeaderCellDef>Casas_decimais</th>
              <td mat-cell *matCellDef="let element">{{ element.casas_decimais }}</td>
            </ng-container>

            <ng-container matColumnDef="ordenar">
              <th mat-header-cell *matHeaderCellDef>Ordem</th>
              <td  mat-cell *matCellDef="let element; let i = index" ><i class="material-icons m-hover" (click)="moveParametro(i, 'up')">arrow_upward</i> <i class="material-icons m-hover" (click)="moveParametro(i, 'down')">arrow_downward</i></td>
            </ng-container>
  
  
            <ng-container matColumnDef="remover" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Remover</th>
              <td  mat-cell *matCellDef="let row"  ><i class="material-icons red-10 m-hover" (click)="removeParametro(row)">delete_forever</i></td>
            </ng-container>
        
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns"
            [ngClass]="animatedRows[i]"></tr>
          </table>
    
          <mat-paginator
            [pageSizeOptions]="[50]"
            showFirstLastButtons
            class="sticky-paginator"
            aria-label="Selecione as amostras"
          >
          </mat-paginator>
        </div>
    </div>
      </div>
      <div class="form-buttons">
        <button mat-raised-button (click)="onNoClick()" class="btn-cancel"><mat-icon>close</mat-icon> Cancelar</button>
        <button mat-flat-button (click)="salvarConfiguracaoDeAnalise()"><mat-icon>check</mat-icon> Salvar</button>
      </div>
  
  
  
  