@defer (on idle) {
<mat-card>
  <div class="tabela-container">
    <mat-form-field class="filter-field">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input />
    </mat-form-field>

    <div class="mat-elevation-z8 table-wrapper">
      <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8 t-table"
      >
        @for (column of displayedColumns; track column) {
        <ng-container matColumnDef="{{ column }}">
          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>
        }
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              aria-label="expand row"
              (click)="
                expandedElement = expandedElement === element ? null : element;
                $event.stopPropagation()
              "
            >
              @if (expandedElement === element) {
              <mat-icon>keyboard_arrow_up</mat-icon>
              } @else {
              <mat-icon>keyboard_arrow_down</mat-icon>
              }
            </button>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplayWithExpand.length"
          >
            <div
              class="detalhes"
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <div class="container">
                <div class="progress">
                  <span> Andamento</span>
                  <div class="percent">
                    <span>0%</span>
                    <span>50%</span>
                    <span>100%</span>
                  </div>
                  <mat-progress-bar
                    mode="determinate"
                    [value]="element.progresso"
                  ></mat-progress-bar>
                </div>

                @if(element.resultados){
                <div class="resultados">
                  <strong>Resultados:</strong>
                  <ul>
                    @for (item of element.resultados| keyvalue; track item) {
                    <li (click)="detalharResultado(element, item.key)">
                      {{ item.key }} <mat-icon>keyboard_arrow_right</mat-icon>
                    </li>
                    }
                  </ul>
                </div>
                } @if(element.progresso == 100){
                <div class="pdf">
                  <mat-icon (click)="detalharResultados(element)"
                    >picture_as_pdf</mat-icon
                  >
                </div>
                }
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplayWithExpand"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="
            expandedElement = expandedElement === element ? null : element
          "
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 30, 50]"
        aria-label="Selecione a página de usuários"
        class="sticky-paginator"
      ></mat-paginator>
    </div>
  </div>
</mat-card>
}
